html, body{
  height: 100%;
}

/*#booksdisplay{
  width:25%;
  height:25%;
  padding-bottom: 25%;
}*/


/*#innercontent{
 position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
}*/

section{

}



.pure-button{
  font-family: 'Lato', sans-serif;
}


.hide {
  display: none;
}

#wrap{
  overflow: hidden;
  padding-left: 25px;
}

h1{
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.buttonWrap{
  width: 100px;
  margin: 0 auto;
}

.test{
  opacity: 0.4;
}

#persistNewBookButton {
  font-family: 'Lato', sans-serif;
}

.buttonscontainer{
  margin-top: 10px;
  padding-left: 25px;
}

.bookcontainer {
    float: left;
    position: relative;
}

.googlebookcontainer {
    float: left;
    position: relative;
    text-decoration: underline;
}


img {
  padding-right: 25px;
  padding-top: 25px;
}

.closeglyph {
    position: absolute;
    top: -5px;
    right: -5px;
    opacity: 0.5;
}

@media only screen and (max-width: 480px) {
  #box{
    width: 100%;
    padding-bottom: 100%;
  }
}
@media only screen and (max-width: 650px) and (min-width: 481px){
  #box{
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 651px){
  #box{
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}


