/*devise log in/log out */

nav{
  height: 7%;
  background-color: #ACE5EE;
}

nav ul {
  font-family: 'Lato', sans-serif;
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

nav ul li {
  float:left;
  font-family: 'Lato', sans-serif;
  display: inline;
}

/* this is link that look like button? */

#editRegistrationButton a {
 border: none;
 margin-left: 10px;
 padding: 3px 6px 3px;
 font-size: 16px;
 text-decoration: none;
 color: #000;
 line-height: 26px;
 background-color: #c0c0c0;
 border: 1px solid gray;
 font-family: sans-serif;
}

#editRegistrationButton a:focus {
 border: none;
 margin-left: 10px;
 padding: 3px 6px 3px;
 font-size: 16px;
 text-decoration: none;
 color: #000;
 line-height: 26px;
 background-color: #c0c0c0;
 border: 1px solid gray;
 font-family: sans-serif;
 outline: 4px #5b9dd9 auto;
}



form.button_to div input {
  border: 1px solid gray;
  margin-left: 10px;
}
