
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta name="MobileLibrary" content="Library management for the future">
    <link rel="icon" type="image/png" href="/web/favicon.ico" />
    <title>MobileLibrary</title>
    <!-- js library script refs -->
    <script type="text/javascript" src="/web/js/libraries/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/web/js/libraries/jquery-ui.js"></script>
    <script type="text/javascript" src="/web/js/libraries/knockout-3.2.0.js"></script>
    <!-- application js script refs -->
    <script type="text/javascript" src="/web/js/AppPlumbing.js"></script>
    <script type="text/javascript" src="/web/js/HomeViewModel.js"></script>
    <script type="text/javascript" src="/web/js/HomeController.js"></script>
    <script type="text/javascript" src="/web/js/AppRoutes.js"></script>
    <script type="text/javascript" src="/web/js/AppStart.js"></script>
    <!-- css links -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/web/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/web/css/booklist.css" type="text/css">
    <link rel="stylesheet" href="/web/css/nav.css" type="text/css">
</head>
<body>
    <ul class="hmenu">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
    </ul>
    <%= yield %>
    <div id='wrap'>
        <h1>
            Hello Juliet! This is your library
        </h1>
        <div class='bookPic'><img src = "http://julioh.com/Tech-Specs_files/iStock1502751Large-B-flat.jpg" /></div>

        <div id="modalAddBook" title="Add Book">
            <form data-bind="submit: newBook">
                <label for="title">Title:</label> <input type="text" name="title">
                <label for="author">Author:</label> <input type="text" name="author">
                <label for="ISBN">ISBN:</label> <input type="text" name="ISBN">
                <label for="image_url">Image:</label> <input type="text" name="image_url">
                <button id="persistNewBookButton" type="submit">Submit</button>
            </form>
        </div>

       <div id="modalAddBorrower" title="Add Borrower">
           <form data-bind="submit: newBorrower">
                <label for="name">Name:</label> <input type="text" name="name">
                <label for="email">Email:</label> <input type="text" name="email">
                <label for="phone_number">Phone No:</label> <input type="text" name="phone_number">
                <button id="persistNewBorrowerButton" type="submit">Submit</button>
            </form>
        </div>

        <div id="modalLend" title="Lend a Book">
           <form data-bind="submit: lendToBorrower">
                    <input class='hide' id="lend_id" type="text" name="id"/>
                    <label>Title:</label><div class="lend_title"></div>
                    <label>Author:</label><div class="lend_author"></div>
                    <label>Borrower:</label><input id="lend_borrower_id" type="text" name="borrower_id"/>
                    <label>Lend for:</label><select data-bind="options: lendOptionsArray, value: lendOptionsValue", id="reminder_date", type="text", name="reminder_date"></select><label>weeks</label>
                    <img id="lend_img" height="105" width="77">
                <button id="lendSubmit" type="submit">Submit</button>
            </form>
        </div>

        <div id="modalReturn" title="Return a Book">
           <form data-bind="submit: returnABook">
                    <input class='hide' id="return_id" type="text" name="id"/>
                    <label>Title:</label><div class="return_title"></div>
                    <label>Author:</label><div class="return_author"></div>
                    <label>Borrower:</label><div id="return_borrower_id"></div>
                    <img id="return_img" height="105" width="77">
                <button id="returnSubmit" type="submit">Submit</button>
            </form>
        </div>

        <div id="addBookButton" class="pure-u-4-5">
            <button id="addToBookList" class="pure-button">Add Book</button>
        </div>
        <div id="addBorrowerButton" class="pure-u-4-5">
             <button id="addBorrower" class="pure-button">Add Borrower</button>
       </div>

        <div id='bookListWrapper'>
            <div data-bind="foreach: bookList">
                <div data-bind="click: $root.bookToLend, css:{'test': borrower_id() != null }" class="bookobject">
                    <input class='hide' data-bind="value: id" />
                    <input class='hide' data-bind="value: title" />
                    <input class='hide' data-bind="value: author" />
                    <input class='hide' data-bind="value: ISBN" />
                    <input class='hide' data-bind="value: image_url" />
                    <img data-bind='attr: {src: image_url}' height="105" width="77">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
