<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta name="MobileLibrary" content="Library management for the future">
    <link rel="icon" type="image/png" href="/web/favicon.ico" />
    <title>MobileLibrary</title>
    <!-- js library script refs -->
    <script type="text/javascript" src="/web/js/libraries/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/web/js/libraries/jquery-ui.js"></script>
    <script type="text/javascript" src="/web/js/libraries/knockout-3.2.0.js"></script>
    <!-- application js script refs -->
    <script type="text/javascript" src="/web/js/AppPlumbing.js"></script>
    <script type="text/javascript" src="/web/js/HomeViewModel.js"></script>
    <script type="text/javascript" src="/web/js/HomeController.js"></script>
    <script type="text/javascript" src="/web/js/AppRoutes.js"></script>
    <script type="text/javascript" src="/web/js/AppStart.js"></script>
    <!-- css links -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="/web/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/web/css/customdialogs.css" type="text/css">
    <link rel="stylesheet" href="/web/css/nav.css" type="text/css">
    <link rel="stylesheet" href="/web/css/app.css" type="text/css">
</head>
<body>
<nav>
    <ul>
        <%= render 'devise/menu/login_items' %>
        <%= render 'devise/menu/registration_items' %>
    </ul>
</nav>
<section id='wrap'>
    <h1> Welcome To | Your Library </h1>
    <div class="buttonWrap">
        <div class="btn-group">
            <a id="addBorrowerButton" class="btn" href="#"><i class="fa fa-user fa-3x"></i></a>
            <a id="addBookButton" class="btn" href="#"><i class="fa fa-book fa-3x"></i></a>
        </div>
    </div>
    </br>

    <div id="searchBookBox">
        <form data-bind="submit: searchForBook">
            <input type="search" name="googleBooksSearch">
             <button id="searchForBookBarButton" class="search_button" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <button id="clearSearchBooks" class="search_button" data-bind="click: clearsearches" type="submit"><i class="fa fa-ban"></i></button>
    </div>

    <div id="modalLend" title="Lend a Book">
       <form class="modal" data-bind="submit: lendToBorrower">
            <fieldset>
                <div class=" floatLeft">
                    <img id="lend_img" height="136" width="100">
                </div>
                <div>
                    <label>Title:</label>
                    <span class="lend_title floatRight"></span>
                </div>
                <div>
                    <label>Author:</label>
                    <span class="lend_author floatRight"></span>
                </div>
                <div>
                    <label>Borrower:</label><select class="floatRight" name="borrower_id" id="lend_borrower_id" data-bind="options: borrowerList,
                   optionsText: function(item) {
                       return item.id + ' ' + item.name
                   },
                   optionsValue: function(item) {
                        return item.id;
                   },
                   value: selectedBorrower,
                   optionsCaption: 'Choose...'"></select>
                </div>
                <div>
                    <label>Lend for:</label>
                    <span class="floatRight">weeks</span>
                    <select class="floatRight" data-bind="options: lendOptionsArray, value: lendOptionsValue", id="reminder_date", type="text", name="reminder_date"></select>
                </div>
                <input type="hidden" id="lend_id" type="text" name="id"/>
                <button id="lendSubmit" class="floatRight" type="submit">Submit</button>
            </fieldset>
        </form>
    </div>

    <div id="modalAddBook" title="Add Book">
        <form data-bind="submit: newBook">
            <label for="title">Title:</label> <input id="modalAddTitle" type="text" name="title">
            <label for="author">Author:</label> <input id="modalAddAuthor" type="text" name="author">
            <label for="ISBN">ISBN:</label> <input id="modalAddISBN" type="text" name="ISBN">
            <label for="image_url">Image:</label> <input id="modalAddimage_url" type="text" name="image_url">
            <button id="persistNewBookButton" type="submit">Add</button>
        </form>
    </div>

   <div id="modalAddBorrower" title="Add Borrower">
       <form data-bind="submit: newBorrower">
            <label for="name">Name:</label> <input id="modalBorrowerName" type="text" name="name">
            <label for="email">Email:</label> <input id="modalBorrowerEmail" type="text" name="email">
            <label for="phone_number">Phone No:</label> <input id="modalBorrowerPhone_number" type="text" name="phone_number">
            <button id="persistNewBorrowerButton" type="submit">Submit</button>
        </form>
    </div>

    <div id="modalReturn" title="Return a Book">
        <form data-bind="submit: returnABook">
            <input class='hide' id="return_id" type="text" name="id"/>
            <label>Title:</label><div class="return_title"></div>
            <label>Author:</label><div class="return_author"></div>
            <label>Borrower:</label><div id="return_borrower_id"></div>
            <img id="return_img" height="105" width="77">
            <button id="returnSubmit" type="submit">Submit</button>
        </form>
    </div>

    <div id="modalGoogleBook" title="Add Book">
        <form data-bind="submit: addGoogleBook">
            <label>Title:</label><input type="text" name="title" class="google_title"/>
            <label>Author:</label><input type="text" name="author" class="google_author">
            <input type="text" name="image_url" class="hide google_image">
            <label>ISBN:</label><input type="text" name="isbn" class="google_isbn">
            <!-- <img data-bind='attr: {src: google_image}' height="105" width="77"> -->
            <button id="persistGoogleBookButton" type="submit">Submit</button>
        </form>
    </div>


    <div class="allBookWrapper">
        <div class="GoogleListWrapper clearfix">
            <div data-bind="foreach: renderGoogleJson">
                <div class="googlebookcontainer">
                    <div data-bind="click: $root.processGoogleBook" class="bookobject">
                        <input class='hide' data-bind="value: id" />
                        <input class='hide' data-bind="value: title" />
                        <input class='hide' data-bind="value: author" />
                        <input class='hide' data-bind="value: ISBN" />
                        <input class='hide' data-bind="value: image_url" />
                        <img data-bind='attr: {src: image_url}' height="105" width="77">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<span id="lineBetweenBooks"></span>

<div class="allBookWrapper">
    <section class='bookListWrapper clearfix'>
        <div data-bind="foreach: bookList" >
            <div class="bookcontainer">
                <a href= "" data-bind="click: $root.bookToDelete"><img  src="/web/image/glyphicons_192_circle_remove.png" class='closeglyph'/></a>
                <div data-bind="click: $root.bookToLend, css:{'test': borrower_id() != null }" class="bookobject" >
                    <input class='hide' data-bind="value: id" />
                    <input class='hide' data-bind="value: title" />
                    <input class='hide' data-bind="value: author" />
                    <input class='hide' data-bind="value: ISBN" />
                    <input class='hide' data-bind="value: image_url" />
                    <img data-bind='attr: {src: image_url}' height="105" width="77">
                </div>
            </div>
        </div>
    </section>
</div>
<footer>
    <div class="container">
        <div class="wrapper pure-g">
            <div class="pure-u-1-3">
            </div>
            <div class="pure-u-1-3">
            </div>
            <div class="pure-u-1-3">
            </div>
        </div>
</footer>
</body>
</html>
