<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta name="MobileLibrary" content="Library management for the future">
        <link rel="icon" type="image/png" href="/web/favicon.ico" />
        <title>MobileLibrary</title>
        <!-- js library script refs -->
        <script type="text/javascript" src="/web/js/libraries/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/web/js/libraries/jquery-ui.js"></script>
        <script type="text/javascript" src="/web/js/libraries/knockout-3.2.0.js"></script>
        <!-- application js script refs -->
        <script type="text/javascript" src="/web/js/app.js"></script>
        <script type="text/javascript" src="/web/js/api_facade.js"></script>
        <script type="text/javascript" src="/web/js/wire_up.js"></script>
        <!-- css links -->
        <link rel="stylesheet" href="/web/css/jquery-ui.css" type="text/css">
        <link rel="stylesheet" href="/web/css/booklist.css" type="text/css">
        <link rel="stylesheet" href="/web/css/nav.css" type="text/css">
    </head>
    <body>
        <ul class="hmenu">
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
        </ul>
        <%= yield %>
        <div id='wrap'>
            <h1>
                Hello Juliet! This is your library
            </h1>
            <div id='box'>
                <div data-bind="foreach: bookList">
                    <div class="bookobject">
                        <img data-bind='attr: {src: image_url}' height="105" width="77">
                        <div class='bookdetails id' data-bind='text: id'></div>
                        <div class='bookdetails title' data-bind='text: title'></div>
                        <div class='bookdetails' data-bind='text: author'></div>
                        <div class='bookdetails' data-bind='text: ISBN'></div>
                        <div class='bookdetails' data-bind='text: image_url'></div>
                        <div id="dialog" title="Add Book">
                            <form data-bind="submit: newBook">
                                <label for="title">Title:</label> <input type="text" name="title">
                                <label for="author">Author:</label> <input type="text" name="author">
                                <label for="ISBN">ISBN:</label> <input type="text" name="ISBN">
                                <label for="image_url">Image:</label> <input type="text" name="image_url">
                                <button id="persistNewBookButton" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <div class='buttonscontainer'>
                        <div class="modalButton pure-u-4-5">
                            <button id="addCustomer" class="pure-button">Add Book</button>
                        </div>
                    </div>
                <!--  <div id="dialogLendInfo" title="Change Lending Info">
                            <form data-bind="submit: newBook">
                                <label for="title" data-bind='text: title'>Title:</label>
                                <label for="author" data-bind='text: author'>Author:</label>
                                <label for="lent_date" data-bind='lent_date'>Lent Date:</label>
                                <button id="PersistBook" type="submit">Submit</button>
                            </form>
                        </div> -->
                </div>
            </div>
        </div>
    </body>
</html>
